name: 'terraform-plan'
on:
  workflow_dispatch: {}

jobs:
  terraform:
    runs-on: ubuntu-latest
    env:
      GOOGLE_APPLICATION_CREDENTIALS: ${{ secrets.GCP_CREDS }}
    steps:
      - name: 'Terraform Init'
        run: terraform -chdir=01-docker-terraform/terraform init 
      
      - name: 'Terraform Plan'
        run: terraform -chdir=01-docker-terraform/terraform plan -var="project_id=${{ secrets.GCP_PROJECT_ID }}" 